<!-- MAIN CONTENT -->

<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="[wishlist.name || 'Wishlist', 'Details']"
      icon="gift"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [togglebutton]="false"
          [sortable]="false"
          class="well"
        >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{ isUpdate ? 'Edit' : 'Create A New Wishlist' }}</h2>
          </header>

          <!-- widget div-->
          <div>
            <form
              #wishlistDetailsForm="ngForm"
              [saUiValidate]="validationOptions"
              novalidate="novalidate"
              (ngSubmit)="save(wishlistDetailsForm.value)"
            >
              <div class="smart-form">
                <!-- widget content -->
                <div class="widget-body">
                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        Name
                        <label class="input">
                          <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            [(ngModel)]="wishlist.name"
                          />
                        </label>
                      </section>
                    </div>
                  </fieldset>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Save
                    </button>
                    &nbsp;
                    <button
                      type="button"
                      (click)="openModal($event, wishlistItemModal)"
                      class="btn btn-primary btn-lg"
                      *ngIf="isUpdate"
                    >
                      Add Item
                    </button>
                  </div>
                </div>
                <!-- end widget content -->
              </div>
            </form>

            <!-- Widget ID (each widget will need unique ID)-->

            <!-- widget content -->
            <!-- <div class="widget-body">
              <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="state.tabs.demo1 === 0">
                  <a (click)="state.tabs.demo1 = 0"
                    ><i class="fa fa-fw fa-lg fa-gift"></i> Items</a
                  >
                </li>

                <li [class.active]="state.tabs.demo1 === 1">
                  <a (click)="state.tabs.demo1 = 1"
                    ><i class="fa fa-fw fa-lg fa-gear"></i> Preferences</a
                  >
                </li>

                <li [class.active]="state.tabs.demo1 === 2">
                  <a (click)="state.tabs.demo1 = 2"
                    ><i class="fa fa-fw fa-lg fa-share"></i> Shares</a
                  >
                </li>

              </ul>

              <tabset class="padding-10">
                <tab [active]="state.tabs.demo1 === 0">
                  <sa-datatable
                    [options]="optionsTokenTable"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">ID</th>
                        <th [style.width]="'8%'">Sort</th>
                        <th [style.width]="'8%'">Name</th>
                        <th [style.width]="'8%'">Category</th>
                        <th [style.width]="'8%'">Price</th>
                        <th [style.width]="'8%'">Url</th>
                        <th [style.width]="'8%'">Purchased</th>
                        <th [style.width]="'8%'">Status</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Sort</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Url</th>
                        <th>Purchased</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>

                <tab [active]="state.tabs.demo1 === 1" class="smart-form">
                  <div class="row">
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="includePriceWhenSharing"
                          [checked]="
                            wishlist.preferences.includePriceWhenSharing
                          "
                        />
                        <i></i>
                        Include Price When sharing
                      </label>
                    </div>
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="markPurchasedItem"
                          [checked]="wishlist.preferences.markPurchasedItem"
                        />
                        <i></i>
                        Mark Purchased Item
                      </label>
                    </div>
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="hideFromMe"
                          [checked]="wishlist.preferences.hideFromMe"
                        />
                        <i></i>
                        Hide From me
                      </label>
                    </div>
                    <div class="col col-3"></div>
                  </div>
                </tab>

                <tab [active]="state.tabs.demo1 === 2">
                  <sa-datatable
                    [options]="optionsTokenTable"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                        <th [style.width]="'8%'">Type</th>
                        <th [style.width]="'8%'">Status</th>
                        <th [style.width]="'8%'">Name</th>
                        <th [style.width]="'8%'">Email</th>
                        <th [style.width]="'8%'">Status</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>

              </tabset>
            </div> -->
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->

    <!-- START ROW -->
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [togglebutton]="false"
          [sortable]="false"
          class="well"
        >
          <div [sortablejs]="wishlist.items" [sortablejsOptions]="itemSortOptions">
            <div
              class="chat-body no-padding profile-message"
              *ngFor="let item of wishlist.items"
            >
              <ul>
                <li class="message">
                  <input type="hidden" id="wishlistItemId" name="wishlistItemId" [(ngModel)]="item._id">
                  <!-- <img
                    alt="sunny"
                    class="portrait"
                    src="assets/img/avatars/sunny.png"
                    [src]="item.image || 'assets/img/avatars/sunny.png'"
                  /> -->
                  
                  <img
                    alt="sunny"
                    class="online"
                    src="assets/img/avatars/sunny.png"
                  />
                  <span class="message-text"
                    ><a class="username" href="">
                        {{ item.price | currency}}&nbsp;-&nbsp;{{ item.name }}
                      <!-- <small class="text-muted pull-right ultra-light">
                        2 Minutes ago
                      </small> --> </a
                    >&nbsp;
                    {{ item.notes }}
                  </span>
                  <ul class="list-inline font-xs">
                    <!-- <li>
                      <a class="text-info" href=""
                        ><i class="fa fa-reply"></i> Reply</a
                      >
                    </li> -->
                    <li>
                      <a class="text-danger" href=""
                        ><i class="fa fa-thumbs-up"></i> Like</a
                      >
                    </li>
                    <li><a class="text-primary" href="">Edit</a></li>
                    <li><a class="text-primary" href="">[GO TO]-></a></li>
                    <li><a class="text-danger" href="">Delete</a></li>
                    <li>
                      <span class="fa fa-sort"></span>
                    </li>
                    <li>
                      <a class="text-muted" href="">2 minutes ago</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->

  <!-- <sa-widgets-grid>
    <div class="row">
      <article class="col-md-12 col-sm-12 col-lg-12">
        <div sa-widget>
          <div class="widget-body">
            <sa-nestable-list
            [items]="demo3"
            (change)="onChange3($event)"
            [options]="{
              group: 2,
              maxDepth: 5
            }"
          ></sa-nestable-list>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid> -->
</div>

<ng-template #wishlistItemModal>
  <wishlist-item-modal
    [wishlist]="wishlist"
    (save)="addItem()"
    (close)="onModalClose()"
  ></wishlist-item-modal>
</ng-template>
