<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Wishlist', 'Details', wishlist._id]" icon="pencil-square-o"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- START ROW -->
    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" [custombutton]="false" [deletebutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{isUpdate ? "Edit" : "Create A New Wishlist"}}</h2>

          </header>

          <!-- widget div-->
          <div>

            <form #wishlistDetailsForm="ngForm" [saUiValidate]="validationOptions" novalidate="novalidate"
              (ngSubmit)="save(wishlistDetailsForm.value)">

              <div class="smart-form">
                <!-- widget content -->
                <div class="widget-body no-padding">

                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        Name
                        <label class="input">
                          <input type="text" name="name" placeholder="Name" [(ngModel)]="wishlist.name" />
                        </label>
                      </section>
                      <section class="col col-4" *ngIf="isUpdate">
                        User Id
                        <label class="input">
                          <input type="text" name="userId" placeholder="User" [(ngModel)]="wishlist.userId._id" [disabled]="true" />
                        </label>
                      </section>
                      <section class="col col-4" *ngIf="!isUpdate">
                        User Id
                        <label class="input">
                          <input type="text" name="userId" placeholder="User" [(ngModel)]="wishlist.userId" />
                        </label>
                      </section>
                      <section class="col col-3">
                        Status
                            <ng-multiselect-dropdown 
                              name="Application" 
                              [placeholder]="'Select Status'"
                              [data]="statusOptions" 
                              [(ngModel)]="selectedStatus" 
                              [settings]="dropdownSettingsStatus">
                          </ng-multiselect-dropdown>
                      </section>
                    </div>
                    <div class="row" *ngIf="isUpdate">
                      <section class="col col-4">
                        First Name
                        <label class="input">
                          <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="wishlist.userId.firstName" [disabled]="true"/>
                        </label>
                      </section>
                      <section class="col col-4" *ngIf="isUpdate">
                        Last Name
                        <label class="input">
                          <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="wishlist.userId.lastName" />
                        </label>
                      </section>
                      <section class="col col-4" *ngIf="!isUpdate">
                         Email
                          <label class="input">
                            <input type="email" name="email" placeholder="Email" [(ngModel)]="wishlist.userId.email" [disabled]="true"/>
                          </label>
                        </section>
                      <section class="col col-3">
                        Username
                        <label class="input">
                          <input type="text" name="username" placeholder="Username" [(ngModel)]="wishlist.userId.username" [disabled]="true"/>
                        </label>
                      </section> 
                    </div>
                  </fieldset>

                  <footer>
                    <button type="button" class="btn btn-default" (click)="toList()">
                      Back to list
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save
                    </button>
                  </footer>

                </div>
                <!-- end widget content -->
              </div>
            </form>


            <!-- widget content -->
            <div class="widget-body">

                <ul id="myTab1" class="nav nav-tabs bordered">

                  <li [class.active]="state.tabs.demo1 === 0">
                    <a (click)="state.tabs.demo1 = 0"><i class="fa fa-fw fa-lg fa-gift"></i> Items</a>
                  </li>

                  <li [class.active]="state.tabs.demo1 === 1">
                    <a (click)="state.tabs.demo1 = 1"><i class="fa fa-fw fa-lg fa-gear"></i> Preferences</a>
                  </li>

                  <li [class.active]="state.tabs.demo1 === 2">
                    <a (click)="state.tabs.demo1 = 2"><i class="fa fa-fw fa-lg fa-share"></i> Shares</a>
                  </li>

                  <li [class.active]="state.tabs.demo1 === 3">
                    <a (click)="state.tabs.demo1 = 3"><i class="fa fa-fw fa-lg fa-bell"></i> Notifications</a>
                  </li>

                </ul>

                <tabset class="padding-10">

                  <tab [active]="state.tabs.demo1===0">
                      <sa-datatable [options]="optionsTokenTable"
                        tableClass="table table-striped table-bordered table-hover" paginationLength=true>
                        <thead>
                          <tr>
                            <th [style.width]="'200px'" data-hide="mobile-p">ID</th>
                            <th [style.width]="'8%'">Sort</th>
                            <th [style.width]="'8%'">Name</th>
                            <th [style.width]="'8%'">Category</th>
                            <th [style.width]="'8%'">Price</th>
                            <th [style.width]="'8%'">Url</th>
                            <th [style.width]="'8%'">Purchased</th>
                            <th [style.width]="'8%'">Status</th>
                            <th data-class="expand">Created</th>
                          </tr>
                        </thead>

                        <tfoot>
                          <tr>
                            <th>Id</th>
                            <th>Sort</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Url</th>
                            <th>Purchased</th>
                            <th>Status</th>
                            <th>Created</th>
                          </tr>
                        </tfoot>
                      </sa-datatable>
                  </tab>

                  <tab [active]="state.tabs.demo1===1" class="smart-form">
                    <div class="row">
                      <div class="col col-3">
                        <label class="checkbox">
                          <input type="checkbox" name="includePriceWhenSharing" [checked]="wishlist.preferences.includePriceWhenSharing" />
                          <i></i>
                          Include Price When sharing
                        </label>
                      </div>
                      <div class="col col-3">
                        <label class="checkbox">
                          <input type="checkbox" name="markPurchasedItem" [checked]="wishlist.preferences.markPurchasedItem" />
                          <i></i>
                          Mark Purchased Item
                        </label>
                      </div>
                      <div class="col col-3">
                        <label class="checkbox">
                          <input type="checkbox" name="hideFromMe" [checked]="wishlist.preferences.hideFromMe" />
                          <i></i>
                          Hide From me
                        </label>
                      </div>
                     <div class="col col-3">

                      </div>
                    </div>
                  </tab>

                  <tab [active]="state.tabs.demo1===2">
                    <sa-datatable 
                      [options]="optionsTokenTable"
                      tableClass="table table-striped table-bordered table-hover" 
                      paginationLength=true>
                      <thead>
                        <tr>
                          <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                          <th [style.width]="'8%'">Type</th>
                          <th [style.width]="'8%'">Status</th>
                          <th [style.width]="'8%'">Name</th>
                          <th [style.width]="'8%'">Email</th>
                          <th [style.width]="'8%'">Status</th>
                          <th data-class="expand">Created</th>
                        </tr>
                      </thead>

                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th>Created</th>
                        </tr>
                      </tfoot>
                    </sa-datatable>
                  </tab>

                  <tab [active]="state.tabs.demo1===3">
                    <sa-datatable 
                      [options]="optionsNotificationTable"
                      tableClass="table table-striped table-bordered table-hover" 
                      paginationLength=true>
                      <thead>
                        <tr>
                          <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                          <th data-class="expand">Endpoint</th>
                          <th [style.width]="'8%'">Expiration Time</th>
                          <th [style.width]="'8%'">Keys</th>
                          <th [style.width]="'8%'">Created</th>
                        </tr>
                      </thead>

                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Endpoint</th>
                          <th>Expiration Time</th>
                          <th>Keys</th>
                          <th>Created</th>
                        </tr>
                      </tfoot>
                    </sa-datatable>
                  </tab>

                </tabset>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- END COL -->

    </div>
    <!-- END ROW -->

  </sa-widgets-grid>
  <!-- end widget grid -->


</div>