<header id="header" class="animated fadeInDown">
  <!-- < id="logo-group"> -->
  <div>
    <span id="logo">
      <a routerLink="/"
        ><img src="assets/img/268x67.png" alt="Wishlist Premiere"
      /></a>
    </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <a routerLink="/auth/register" class="btn btn-primary">Create account</a>
  </span>
</header>
<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-blue login-header-big">Wishlist Premiere</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
              Create an account to begin creating wishlists with your friends
              and family<br />
            </h4>
            <br/>
            <div class="row">
              <div class="col-md-6">
                <a
                  href="https://itunes.apple.com/us/app/wishlist-premiere/id1461819820?mt=8"
                  ><img alt="Get it on iOS"
                  src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-05-04&kind=iossoftware&bubble=ios_apps"/>
                </a>
              </div>
              <div class="col-md-6">
                <a
                  href="https://play.google.com/store/apps/details?id=com.wishlistPremiere.marasco&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                  ><img
                    alt="Get it on Google Play"
                    src="assets/img/google-play-badge.png"
                    width="135"
                /></a>
              </div>
            </div>

            <div class="login-app-icons">
              <!-- <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>&nbsp; -->
              <a routerLink="/" class="btn btn-primary btn-sm">Back Home</a>
            </div>
          </div>
          <img
            src="assets/img/demo/iphoneview.png"
            class="pull-right display-image"
            alt=""
            style="width:210px"
          />
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Share your lists with Friends</h5>

            <p>
              Wishlist Premiere allows you to create wishlists and share them
              with your friends!
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Get Notifications!</h5>

            <p>
              Wishlist Premiere allows you to create wishlists and share them
              with your friends! Get notifications on your lists when someone
              purchases an item from one of your lists
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form
            id="form-login"
            class="smart-form client-form"
            [saUiValidate]="validationOptions"
            novalidate="novalidate"
          >
            <header>
              Sign In
            </header>

            <fieldset>
              <section>
                <label class="label">Username/Email</label>
                <label class="input">
                  <!-- <i class="icon-append fa fa-user"></i> -->
                  <input
                    type="text"
                    name="username"
                    id="username"
                    autocomplete="username"
                    class="input-lg"
                    placeholder="Username"
                  />
                  <b class="tooltip tooltip-top-right"
                    ><i class="fa fa-user fa-2x txt-color-teal"></i> Please
                    enter email/username. CASE Sensitive</b
                  ></label
                >
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input">
                  <!-- <i class="icon-append fa fa-lg fa-lock"></i> -->
                  <input
                    type="password"
                    name="password"
                    id="password"
                    autocomplete="current-password"
                    placeholder="Password"
                    class="input-lg"
                  />
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-lock txt-color-teal"></i>
                    Enter your password</b
                  >
                </label>
                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
              </section>

              <section>
                <label class="checkbox">
                  <input
                    type="checkbox"
                    name="forceRefresh"
                    id="forceRefresh"
                    checked
                    value="true"
                  />
                  <i></i>Stay signed in</label
                >
              </section>
            </fieldset>
            <footer>
              <button type="submit" name="submit" class="btn btn-primary">
                Sign in
              </button>
            </footer>
          </form>
        </div>

        <div *ngIf="!isMobile">
          <h5 class="text-center">- Or sign in using -</h5>
          <ul class="list-inline text-center">
            <li>
              <a (click)="signInWithFB()" class="btn btn-primary btn-circle"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a (click)="signInWithGoogle()" class="btn btn-info btn-circle"
                ><i class="fa fa-google"></i
              ></a>
            </li>
            <li>
              <a
                (click)="signInWithLinkedIn()"
                class="btn btn-warning btn-circle"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>

        <div *ngIf="isMobile">
          <h5 class="text-center">- mobile stores</h5>

          <ul class="list-inline text-center">
            <li>
              <a
                href="https://itunes.apple.com/us/app/wishlist-premiere/id1461819820?mt=8"
                style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-sm.svg) no-repeat;width:60px;height:15px;"
              ></a>
            </li>
            <li></li>
          </ul>
        </div>

        <button
          *ngIf="showAddToHomeScreenButton"
          type="button"
          name="addToHome"
          class="btn btn-primary btn-block"
          (click)="addToHome($event)"
        >
          <i class="fa fa-plus"></i>
          Add to Home Screen
        </button>
      </div>
    </div>
  </div>
</div>
