<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Wishlist', 'App', 'Settings']" icon="pencil-square-o"
        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <sa-stats></sa-stats>
    </div>
  
    <!-- widget grid -->
    <sa-widgets-grid>
  
      <!-- START ROW -->
      <div class="row">
  
        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
  
          <!-- Widget ID (each widget will need unique ID)-->
          <div sa-widget [colorbutton]="false" [editbutton]="false" [custombutton]="false" [deletebutton]="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
  
              <h2>Edit</h2>
  
            </header>
  
            <!-- widget div-->
            <div>
  
              <form 
                #wishlistDetailsForm="ngForm" 
                [saUiValidate]="validationOptions" 
                novalidate="novalidate"
                (ngSubmit)="save(wishlistDetailsForm.value)">
  
                <div class="smart-form">
                  <!-- widget content -->
                  <div class="widget-body no-padding">
  
                    <fieldset>
                      <div class="row">
                        <section class="col col-4">
                          Id:
                          <label class="input">
                            <input type="text" name="id" placeholder="Id" [(ngModel)]="wishlistAppSettings._id" />
                          </label>
                        </section>
                      </div>
                    </fieldset>
  
                    <footer>
                      <button type="submit" class="btn btn-primary">
                        Save
                      </button>
                    </footer>
  
                  </div>
                  <!-- end widget content -->
                </div>
              </form>
  
  
              <!-- widget content -->
              <div class="widget-body">
  
                  <ul id="myTab1" class="nav nav-tabs bordered">
  
                    <li [class.active]="state.tabs.demo1 === 0">
                      <a (click)="state.tabs.demo1 = 0"><i class="fa fa-fw fa-lg fa-gift"></i>Notifications</a>
                    </li>
  
                  </ul>
  
                  <tabset class="padding-10">
  
                    <tab [active]="state.tabs.demo1===0">
                        <sa-datatable 
                          [options]="optionsNotificationTable"
                          tableClass="table table-striped table-bordered table-hover" paginationLength=true>
                          <thead>
                            <tr>
                              <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                              <th [style.width]="'8%'">Name</th>
                              <th [style.width]="'8%'">Title</th>
                              <th [style.width]="'8%'">Dir</th>
                              <th [style.width]="'8%'">Lang</th>
                              <th [style.width]="'8%'">Body</th>
                              <th [style.width]="'8%'">Tag</th>
                              <th [style.width]="'8%'">Vibrate</th>
                              <th data-class="expand">Created</th>
                            </tr>
                          </thead>
  
                          <tfoot>
                            <tr>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Title</th>
                              <th>Dir</th>
                              <th>Lang</th>
                              <th>Body</th>
                              <th>Tag</th>
                              <th>Vibrate</th>
                              <th>Created</th>
                            </tr>
                          </tfoot>
                        </sa-datatable>
                    </tab>
  
                  </tabset>
  
              </div>
              <!-- end widget content -->
  
            </div>
            <!-- end widget div -->
  
          </div>
          <!-- end widget -->
  
        </article>
        <!-- END COL -->
  
      </div>
      <!-- END ROW -->
  
    </sa-widgets-grid>
    <!-- end widget grid -->

<!-- Modal -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <form 
                #wishlistAppNotificationForm="ngForm" 
                [saUiValidate]="validationOptions2" 
                novalidate="novalidate"
                (ngSubmit)="saveNotification(wishlistAppNotificationForm.value)">
<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title">Notification</h4>
   </div>
   <div class="modal-body">

     <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="notification.name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="title"> Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="notification.title">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="dir"> Dir</label>
          <select class="form-control" id="dir">
            <option value="auto">Auto</option>
            <option value="ltr">Left-to-right</option>
            <option value="rtl">Right-to-left</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="language"> Language</label>
          <input type="text" class="form-control" id="language" placeholder="Language" name="lang"  [(ngModel)]="notification.lang">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="body"> Body</label>
          <input type="text" class="form-control" id="body" placeholder="Body" name="body" [(ngModel)]="notification.body">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="tag"> Tag</label>
          <input type="text" class="form-control" id="tag" placeholder="Tag" name="tag" [(ngModel)]="notification.tag">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="image"> Image</label>
          <input type="text" class="form-control" id="image" placeholder="Image" name="image" [(ngModel)]="notification.image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="icon"> Icon</label>
          <input type="text" class="form-control" id="icon" placeholder="Icon" name="icon" [(ngModel)]="notification.icon">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="badge"> Badge</label>
          <input type="text" class="form-control" id="badge" placeholder="Badge" name="badge" [(ngModel)]="notification.badge">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="vibrate"> Vibrate</label>
          <input type="text" class="form-control" id="vibrate" placeholder="Vibrate" name="vibrate" [(ngModel)]="notification.vibrate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="timeStamp"> Timestamp</label>
          <input type="text" class="form-control" id="timeStamp" placeholder="Time Stamp" name="timeStamp" [(ngModel)]="notification.timestamp">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="icon"> Renotify</label>
          <input type="checkbox" class="form-control" id="renotify" placeholder="Icon" name="renotify" [(ngModel)]="notification.renotify">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="badge"> Silent</label>
          <input type="checkbox" class="form-control" id="silent" placeholder="Silent" name="silent" [(ngModel)]="notification.silent">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="requireInteraction"> Require Interaction</label>
          <input type="checkbox" class="form-control" id="requireInteraction" placeholder="Require Interaction" name="requireInteraction"  [(ngModel)]="notification.requireInteraction">
        </div>
      </div>
    </div>
     <div class="row">
       <div class="col-md-4">
         <div class="form-group">
           <label for="data"> Data</label>
           <textarea class="form-control" placeholder="Data" id="data" rows="3" required name="data" [(ngModel)]="notification.data"></textarea>
         </div>
       </div>
       <div class="col-md-8">
        <div class="widget-body no-padding">
          <label for="data"> Actions</label>
          <sa-datatable *ngIf="this.wishlistAppSettingsActionsOptions.data"
              [options]="wishlistAppSettingsActionsOptions"
              tableClass="table table-striped table-bordered table-hover" 
              paginationLength="false"
              id="actionDataTable"
              name="actionDataTable">
              <thead>
                  <tr>
                      <th [style.width]="'8%'">Id</th>
                      <th [style.width]="'8%'">Action</th>
                      <th [style.width]="'8%'">Title</th>
                      <th [style.width]="'8%'">Icon</th>
                  </tr>
              </thead>
          </sa-datatable>

      </div>
       </div>
     </div>

   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="lgModal.hide()">
       Cancel
     </button>
     <button type="submit" class="btn btn-primary">
       Save Notification Option
     </button>
   </div>
 </div>
</div>
</form>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <form 
                #wishlistAppNotificationActionForm="ngForm" 
                [saUiValidate]="validationOptions2" 
                novalidate="novalidate"
                (ngSubmit)="saveNotificationAction(wishlistAppNotificationActionForm.value)">
<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="smModal.hide()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title">Notification Action</h4>
   </div>
   <div class="modal-body">

     <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Action</label>
          <input type="text" class="form-control" id="action" name="action" placeholder="Action" [(ngModel)]="action.action">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="title"> Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="action.title">
        </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="title"> Icon</label>
            <input type="text" class="form-control" id="icon" name="icon" placeholder="Icon" [(ngModel)]="action.icon">
          </div>
        </div>
    </div>

   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="smModal.hide()">
       Cancel
     </button>
     <button type="submit" class="btn btn-primary">
       Save Action
     </button>
   </div>
 </div>
</div>
</form>
</div>