<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="['Home', '']"
      icon="home"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12"></article>
    </div>

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          class="well"
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [sortable]="false"
        >
          <!-- widget options:
                    usage: <div sa-widget [editbutton]="false">
          
                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"
          
                    -->
          <header>
            <span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
            <h2>Create your wishlists Fast and Easy</h2>
          </header>

          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <h1>Create your wishlists Fast and Easy!!!</h1>
              <p>
                See how aspects of the Bootstrap button system look and feel
                like at a glance.
              </p>

              <button
                class="btn btn-primary btn-block btn-lg"
                (click)="createEvent($event)"
              >
                Create your Wishlist
              </button>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>

      <article class="col-sm-12 col-md-12 col-lg-6"></article>
    </div>
  </sa-widgets-grid>
</div>
