<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/268x67.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> 
  <a routerLink="/auth/register" class="btn btn-primary">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="login-header-big"><span class="txt-color-blue">Maras.</span><span clas="txt-color-blueLight">co</span> 
          <span class="txt-color-blue"> Admin</span></h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
              Reset your password! Enter a new password and make sure to keep it hidden!</h4>
            <div class="login-app-icons">
              <a href="https://www.maras.co"  class="btn btn-primary btn-sm">Find out more</a>
            </div>
          </div>

          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About Maras.co</h5>
            <p>
              To find out more about Maras.co please contact us by going to our contact page
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Mobile/Web Application Development</h5>
            <p>
              Maras.co specializes in mobile and web application development. We have hundreds of mobile apps that we
              maintain through our admin platform
            </p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form 
            id="form-reset-password" 
            class="smart-form client-form"
            [saUiValidate]="validationOptions"
             novalidate="novalidate">
            <header>
              Reset Password
            </header>

            <fieldset>

              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="password" name="password" id="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
              </section>

              <section>
                <label class="label">Password Confirm</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="password" name="passwordConfirm" id="passwordConfirm">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>
                <div class="note">
                </div>
              </section>

            </fieldset>
            <footer>
              <input type="hidden" id="token" name="token" [(ngModel)]="token">
              <button typ="submit" class="btn btn-primary">
                <i class="fa fa-refresh"></i> Reset Password
              </button>
            </footer>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

