<!-- MAIN CONTENT -->

<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="[wishlist.name || 'Wishlist', 'Details']"
      icon="gift"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
    <wp-settings [wishlist]="wishlist"></wp-settings>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [togglebutton]="false"
          [sortable]="false"
          class="well"
        >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{ isUpdate ? 'Edit' : 'Create A New Wishlist' }}</h2>
          </header>

          <!-- widget div-->
          <div>
            <form
              #wishlistDetailsForm="ngForm"
              [saUiValidate]="validationOptions"
              novalidate="novalidate"
              (ngSubmit)="save(wishlistDetailsForm.value)"
            >
              <div>
                <!-- widget content -->
                <div class="widget-body">
                  <fieldset class="smart-form">
                    <div class="row">
                      <section class="col col-4">
                        Name
                        <label class="input">
                          <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            [(ngModel)]="wishlist.name"
                          />
                        </label>
                      </section>
                    </div>
                  </fieldset>

                  <div class="form-actions row">
                    <div class="col col-md-12 hidden-xs hidden-mobile">
                      <button
                        type="button"
                        (click)="
                          openModalSettings(
                            $event,
                            wishlistOptionsModal,
                            wishlist
                          )
                        "
                        class="btn btn-default btn-lg"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-cog fa-lg"></i>
                        Options
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        (click)="openModal($event, wishlistItemModal)"
                        class="btn btn-primary btn-lg"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-plus fa-lg"></i>
                        Add Item
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        (click)="previewWishlist($event, wishlist)"
                        class="btn btn-warning btn-lg"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-eye fa-lg"></i>
                        Preview
                      </button>

                      <div *ngIf="hasSharing">
                        &nbsp;
                        <button
                          type="button"
                          (click)="shareDesktop()"
                          class="btn btn-info btn-lg"
                          *ngIf="isUpdate"
                        >
                          <i class="fa fa-share fa-lg"></i>
                          Share
                        </button>
                      </div>
                      &nbsp;
                      <button type="submit" class="btn btn-success btn-lg">
                        <i class="fa fa-save fa-lg"></i>
                        Save
                      </button>
                    </div>
                    <div class="col col-md-12 visible-xs visible-mobile">
                      <button
                        type="button"
                        (click)="
                          openModalSettings(
                            $event,
                            wishlistOptionsModal,
                            wishlist
                          )
                        "
                        class="btn btn-default"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-cog fa-lg"></i>
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        (click)="openModal($event, wishlistItemModal)"
                        class="btn btn-primary"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-plus fa-lg"></i>
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        (click)="previewWishlist($event, wishlist)"
                        class="btn btn-warning"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-eye fa-lg"></i>
                      </button>

                      &nbsp;
                      <button
                        type="button"
                        (click)="shareMobile()"
                        class="btn btn-info"
                        *ngIf="isUpdate"
                      >
                        <i class="fa fa-share fa-lg"></i>
                      </button>

                      &nbsp;
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa-save fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end widget content -->
              </div>
            </form>

            <!-- Widget ID (each widget will need unique ID)-->

            <!-- widget content -->
            <!-- <div class="widget-body">
              <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="state.tabs.demo1 === 0">
                  <a (click)="state.tabs.demo1 = 0"
                    ><i class="fa fa-fw fa-lg fa-gift"></i> Items</a
                  >
                </li>

                <li [class.active]="state.tabs.demo1 === 1">
                  <a (click)="state.tabs.demo1 = 1"
                    ><i class="fa fa-fw fa-lg fa-gear"></i> Preferences</a
                  >
                </li>

                <li [class.active]="state.tabs.demo1 === 2">
                  <a (click)="state.tabs.demo1 = 2"
                    ><i class="fa fa-fw fa-lg fa-share"></i> Shares</a
                  >
                </li>

              </ul>

              <tabset class="padding-10">
                <tab [active]="state.tabs.demo1 === 0">
                  <sa-datatable
                    [options]="optionsTokenTable"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">ID</th>
                        <th [style.width]="'8%'">Sort</th>
                        <th [style.width]="'8%'">Name</th>
                        <th [style.width]="'8%'">Category</th>
                        <th [style.width]="'8%'">Price</th>
                        <th [style.width]="'8%'">Url</th>
                        <th [style.width]="'8%'">Purchased</th>
                        <th [style.width]="'8%'">Status</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Sort</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Url</th>
                        <th>Purchased</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>

                <tab [active]="state.tabs.demo1 === 1" class="smart-form">
                  <div class="row">
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="includePriceWhenSharing"
                          [checked]="
                            wishlist.preferences.includePriceWhenSharing
                          "
                        />
                        <i></i>
                        Include Price When sharing
                      </label>
                    </div>
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="markPurchasedItem"
                          [checked]="wishlist.preferences.markPurchasedItem"
                        />
                        <i></i>
                        Mark Purchased Item
                      </label>
                    </div>
                    <div class="col col-3">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          name="hideFromMe"
                          [checked]="wishlist.preferences.hideFromMe"
                        />
                        <i></i>
                        Hide From me
                      </label>
                    </div>
                    <div class="col col-3"></div>
                  </div>
                </tab>

                <tab [active]="state.tabs.demo1 === 2">
                  <sa-datatable
                    [options]="optionsTokenTable"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                        <th [style.width]="'8%'">Type</th>
                        <th [style.width]="'8%'">Status</th>
                        <th [style.width]="'8%'">Name</th>
                        <th [style.width]="'8%'">Email</th>
                        <th [style.width]="'8%'">Status</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>

              </tabset>
            </div> -->
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->

    <!-- START ROW -->
    <div class="row" *ngIf="wishlist.items.length !== 0">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [togglebutton]="false"
          [sortable]="false"
          class="well"
        >
          <div
            [sortablejs]="wishlist.items"
            [sortablejsOptions]="itemSortOptions"
          >
            <div class="row" *ngFor="let item of wishlist.items">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-1 col-xs-2">
                    <div class="thumbnail handle">
                      <input
                        type="hidden"
                        id="wishlistItemId"
                        name="wishlistItemId"
                        [(ngModel)]="item._id"
                      />
                      <img
                        alt="sunny"
                        class="online portrait"
                        src="assets/icons/icon-72x72_grey_out.png"
                        [src]="
                          item.image || 'assets/icons/icon-72x72_grey_out.png'
                        "
                      />
                    </div>
                  </div>
                  <div class="col-sm-11 col-xs-10">
                    <div class="well well-sm ">
                      <div class="row">
                        <div class="col col-md-10 col-xs-9">
                          <button
                            class="btn btn-xs btn-link btn-default"
                            (click)="openModal($event, wishlistItemModal, item)"
                          >
                            {{ item.name }}
                          </button>
                        </div>
                        <div class="col col-md-2 col-xs-3">
                          <span class="pull-right font-md">
                            {{ item.price | currency }}
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-12 col-xs-12">
                          <div class="pull-right">
                            <!-- <button class="btn btn-primary btn-xs">
                            <i class="fa fa-thumbs-up"></i>
                          </button>
                          &nbsp; -->
                            <span
                              class="label bg-color-red"
                              *ngIf="item.purchased"
                            >
                              Purchased
                            </span>
                            &nbsp;
                            <button
                              class="btn btn-warning btn-xs"
                              (click)="
                                openModal($event, wishlistItemModal, item)
                              "
                            >
                              <i class="fa fa-edit"></i>
                            </button>
                            &nbsp;
                            <button
                              class="btn btn-danger btn-xs"
                              (click)="deleteItem($event, item)"
                            >
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-12 col-xs-12">
                <span class="onoffswitch-title"
                  ><i class="fa fa-info"></i> Sortable: Drag by picture
                </span>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>

<ng-template #wishlistItemModal>
  <wishlist-item-modal
    [wishlist]="wishlist"
    (save)="closeModal()"
    (close)="onModalClose()"
  ></wishlist-item-modal>
</ng-template>

<ng-template #wishlistOptionsModal>
  <wishlist-options-modal
    [wishlistObject]="wishlist"
    (save)="closeModal()"
    (close)="onModalClose()"
  ></wishlist-options-modal>
</ng-template>
