<div class="modal-header">
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-hidden="true"
    (click)="close.emit(true)"
  >
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">Wishlist Item</h4>
</div>
<div class="modal-body custom-scroll">
  <dropzone2-upload [dbName]="dbName" [configOptions]="configOptions" (imageUpload)="onImageUploaded($event)"></dropzone2-upload>
  <form
    id="form-add-wishlist-item"
    class="smart-form"
    [saUiValidate]="validationOptions"
    novalidate="novalidate"
  >
    <fieldset>
      <div class="row">
        <section class="col col-8">
          <label class="input">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              class="input-lg"
            />
            <b class="tooltip tooltip-bottom-right">Name of the wishlist</b>
          </label>
        </section>
        <section class="col col-4">
          <label class="input">
            <input
              type="number"
              id="price"
              name="price"
              placeholder="Price"
              class="input-lg"
            />
            <b class="tooltip tooltip-bottom-right">Price of the item</b>
          </label>
        </section>
      </div>
    </fieldset>

    <fieldset>
      <div class="row">
        <section class="col col-8">
          <label class="input">
            <input
              type="text"
              name="url"
              id="url"
              placeholder="Link or Store name"
              class="input-lg"
              [ngModel] = 'wishlistItem.url'
            />
          </label>
        </section>
        <section class="col col-4">
          <label class="checkbox">
            <input
              type="checkbox"
              name="purchased"
              id="purchased"
              [ngModel]="wishlistItem.purchased"
              value="true"
            />
            <i></i>
            Purchased?
          </label>
        </section>
      </div>
    </fieldset>

    <fieldset>
      <div class="row">
        <section class="col col-8">
          <label class="select">
            <select
              name="categoryId"
              id="categoryId"
              class="input-lg"
              placeholder="Choose a Category"
              ngModel
            >
             <option value="" disabled selected>Select your Category</option>
              <option
                *ngFor="let category of dropdownList"
                [value]="category._id"
              >
                {{ category.name }}
              </option>
            </select>
          </label>
        </section>

        <section class="col col-4">
          <button
            class="btn btn-primary btn-lg"
            (click)="openModal($event, wishlistItemCategoryModal)"
          >
            Add Category
          </button>
        </section>
      </div>
    </fieldset>

    <fieldset>
      <section>
        Notes
        <label class="textarea">
          <textarea
            ngModel
            rows="4"
            name="notes"
            id="notes"
            class="textarea-lg"
          ></textarea>
        </label>
      </section>
    </fieldset>

    <fieldset>
      <div class="row">
        <section class="col col-12" style="float: right">

          <button
            type="button"
            class="btn btn-default btn-lg"
            (click)="close.emit(true)"
          >
            Close
          </button>

          &nbsp;
          <input type="hidden" id="image" name="image" [ngModel]="imageName"> 
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            id="i-agree"
          >
            <i class="fa fa-check"></i> Save
          </button>

        </section>
      </div>
    </fieldset>
  </form>
</div>

<!-- <div class="modal-footer">

</div> -->

<ng-template #wishlistItemCategoryModal>
  <wishlist-item-category-modal
    [userId]="wishlist.userId"
    (save)="addItem()"
    (close)="onModalClose()"
  ></wishlist-item-category-modal>
</ng-template>
