<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Role', 'Details']" icon="pencil-square-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>


  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- START ROW -->
    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" [custombutton]="false" [deletebutton]="false">

          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{isUpdate ? "Edit" : "Create A New Role"}}</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body no-padding">

              <form 
                #roleDetailsForm="ngForm" class="smart-form" [saUiValidate]="validationOptions" novalidate="novalidate" (ngSubmit)="save(roleDetailsForm.value)">

                <fieldset>
                  <section>
                    Name
                    <label class="input"> <i class="icon-append fa fa-question"></i>
                      <input type="text" name="name" placeholder="Role Name" [(ngModel)]="role.name"/>
                      <b class="tooltip tooltip-bottom-right">Enter a role name</b> </label>
                  </section>

                </fieldset>

                <footer>
                  <button type="button" class="btn btn-default" (click)="toList()">
                    Back to list
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Save
                  </button>
                </footer>

              </form>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- END COL -->

    </div>

    <!-- END ROW -->

  </sa-widgets-grid>
  <!-- end widget grid -->


</div>