<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852120795509-g58nlfvteok8fgr91qpu8ejtg0h63m6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852120795509-g58nlfvteok8fgr91qpu8ejtg0h63m6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDVLpcU1eKzoiXXuC_RkSAvfERw7glSsuU</string>
	<key>GCM_SENDER_ID</key>
	<string>852120795509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marasco.wishlistPremiere</string>
	<key>PROJECT_ID</key>
	<string>marasco-wishlistpremiere-pwa</string>
	<key>STORAGE_BUCKET</key>
	<string>marasco-wishlistpremiere-pwa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852120795509:ios:6fdcc1907a3f82b7</string>
	<key>DATABASE_URL</key>
	<string>https://marasco-wishlistpremiere-pwa.firebaseio.com</string>
</dict>
</plist>